@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://db.onlinewebfonts.com/c/62123f44beddc6527e8ed8403f7d6198?family=Thomas+Mag+Regular");
@import "tailwindcss";

/* hide scrollbar for all browsers */
html {
  overflow: -moz-scrollbar-none; /* Old Firefox */
  scrollbar-width: none; /* New Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; 
}

::selection {
  background: transparent;
}

body {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Thomas Mag Regular", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    background-color: rgb(0, 0, 0);
    /* color: rgb(255, 239, 211); */
    color: white;
}

/* .footer::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 57%;
  width: 100%;
  height: 6px;
  background-color: #ffffff;
  mix-blend-mode: difference;
} */

.footer::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: -20px;
  width: 30%;
  height: 6px;
  background-color: #ffffff;
  mix-blend-mode: difference;
  transform: skew(-120deg);
}

.cursor-image-hover {
  width: 65px !important;
  height: 65px !important;
  background-color: white !important;
  border: none !important;
  border-radius: 50%;
  filter: none;
  backdrop-filter: none;
  mix-blend-mode: difference;
  transition: all 0.3s ease-out;
  /* animation: cursor-spin 1s linear infinite; */
}

@keyframes cursor-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.work-menu-item-hover {
  cursor: crosshair;
  width: 68px !important;
  height: 50px !important;
  background-color: white !important;
  border: none !important;
  border-radius: 5%;
  filter: none;
  backdrop-filter: none;
  mix-blend-mode: difference;
  transition: all 0.1s cubic-bezier(0.61, 1, 0.88, 1);
  overflow: hidden;
}

/* .logo-name::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  height: 20px;
  background-color: #ffffff;
  mix-blend-mode: difference;
} */
